<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="content" class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header container">
        	<h3>Tạo chiến dịch</h3>
        </section>
        
<!-- Main content -->
        <section class="content">
          <div id="toast" style="display:none">
<img src="img/refresh.png"></img> 
</div>
          <form id="campaignInfoForm" class="form-horizontal" th:action="@{/management/campaign/create}" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-12">
                <!-- Image box begin -->
                <div class="col-xs-4">
                <div class="row">
                  <div class="box">
                    <div class="box-body">
                      <img class="img-responsive" id="imgBanner" src="#" alt="banner" />
                    </div>
                  </div>
                  <div class="box">
                  <div class="box-body">
                      <label for="exampleInputFile">Banner quảng cáo</label>
                      <input type="file" id="bannerInputFile" name="banner" accept="image/*" capture="camera"/>
                      <p class="help-block">Tải lên banner cho sản phẩm của bạn</p>         
                    </div>
                  </div>
                </div>
                </div>
                <!-- Image box end -->
                <!-- Info box begin -->
                <div class="col-xs-8">
                  <div class="row">
                    <div class="box">
                      <div class="box-body">
                      	<input type="hidden" class="form-control" name="createrID" th:value="${createrID}" required="required"></input>
                        <input type="text" class="form-control" name="campaignName" placeholder="Tên chiến dịch" required="required"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="box">
                      <div class="box-body">
                        <div class="form-group">
                          <label class="col-sm-3 control-label" style="text-align:left">Danh mục</label>
                          <input type="hidden" class="form-control" id="inputCategory" name="category" value="1"/>
                          <div class="dropdown col-sm-4">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                              Văn phòng phẩm
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                           	  <li role="presentation" th:each="category : ${categories}"><a role="menuitem" tabindex="-1" th:name="${category.id}" th:text="${category.interestName}"></a></li>
                              <li role="presentation" th:remove="all"><a role="menuitem" name="1" tabindex="-1">Văn phòng phẩm</a></li>
                              <li role="presentation" th:remove="all"><a role="menuitem" name="2" tabindex="-1">Dầu gội</a></li>
                              <li role="presentation" th:remove="all"><a role="menuitem" name="3" tabindex="-1">Bột giặt</a></li>
                              <li role="presentation" th:remove="all"><a role="menuitem" name="4" tabindex="-1">Điện thoại</a></li>
                              <li role="presentation" th:remove="all"><a role="menuitem" name="5" tabindex="-1">Tivi</a></li>
                            </ul>
                          </div>
                        </div>
                        <!-- Số sản phẩm dùng thử -->
                        <div class="form-group">
                          <label for="inputProto" class="col-sm-3 control-label" style="text-align:left">Số lượng mẫu</label>
                          <div class="col-sm-8">
                            <div class="input-group">
                              <input id="inputProto" type="number" class="form-control" name="prototypeQuantity" placeholder="Số sản phầm dùng thử" required="required" min="1" value="1"></input>
                              <span class="input-group-addon"> sản phẩm</span>
                            </div>
                          </div>
                        </div>
                        <!-- Ngày bắt đầu publish -->
                        <!-- date picker-->
                        <div class="form-group">
                          <label for="inputPublishDate" class="col-sm-3 control-label" style="text-align:left">Ngày công bố</label>
                          <div class="col-sm-4">
                            <div class='input-group date datepicker' id='datetimepickerPublishDay'>
                              <input id="inputPublishDate" type='text' class="form-control mydatetime" name="publishDate" required="required"/>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar">
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <!-- Thời gian tuyển người dùng -->
                        <div class="form-group">
                          <label for="inputRecuitDay" class="col-sm-3 control-label" style="text-align:left">Thời gian tuyển người</label>
                          <div class="col-sm-8">
                            <div class="input-group">
                              <input id="inputRecuitDay" type="number" class="form-control" name="recuitDay" placeholder="Số sản phầm dùng thử" required="required" min="1" value="1"></input>
                              <span class="input-group-addon"> ngày</span>
                            </div>
                          </div>
                        </div>
                        <!-- Thời gian dùng thử sản phẩm -->
                        <div class="form-group">
                          <label for="inputTrialDay" class="col-sm-3 control-label" style="text-align:left">Thời gian dùng thử</label>
                          <div class="col-sm-8">
                            <div class="input-group">
                              <input id="inputTrialDay" type="number" class="form-control" name="trialDay" placeholder="Số sản phầm dùng thử" required="required" min="1" value="1"></input>
                              <span class="input-group-addon"> ngày</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.box -->
                <!-- Info box end-->
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class='box box-info'>
                  <div class='box-header'>
                    <h3 class='box-title'>Mô tả sản phẩm <small>Chi tiết về sản phẩm của bạn</small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                      <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                  </div><!-- /.box-header -->
                  <div class='box-body pad'>
                    <form>
                      <textarea id="editor1" name="description" rows="10" cols="80">
                        Mô tả về sản phẩm
                      </textarea>
                    </form>
                  </div>
                </div><!-- /.box -->
              </div>
                          <div class="form-group">
              <div class="col-sm-offset-5 col-sm-2">
                <button type="submit" class="btn btn-block btn-info btn-lg"><i class="glyphicon glyphicon-plus"></i> Tạo</button>
              </div>
            </div>
            </div>
            <!-- save button -->
          </form>
          <!-- Your Page Content Here -->
        </section><!-- /.content -->
        <link th:href="@{/resources/dist/css/AdminLTE.min.css}" href="/resources/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" th:href="@{/resources/plugins/datepicker/datepicker3.css}" href="/resources/plugins/datepicker/datepicker3.css"/>
        <link type="text/css" rel="stylesheet" th:href="@{/resources/css/admin/toast.css}" href="/resources/css/admin/toast.css"/>
        <script type="text/javascript" th:src="@{/resources/plugins/datepicker/moment.js}" src="/resources/plugins/datepicker/moment.js"></script>
        <script type="text/javascript" th:src="@{/resources/plugins/datepicker/bootstrap-datepicker.js}" src="/resources/plugins/datepicker/bootstrap-datepicker.js"></script>
            <!-- CK Editor -->
    	<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
        <script th:src="@{/resources/scripts/admin/util.js}" src="/resources/scripts/admin/util.js" type="text/javascript"></script>
        <script th:src="@{/resources/scripts/site/site-create-campaign.js}" src="/resources/scripts/site/site-create-campaign.js" type="text/javascript"></script>
        </div>
</body>

</html>
