<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

<div th:fragment="content" class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Đăng ký tài khoản
          </h1>
        </section>
        
<!-- Main content -->
        <section class="content">
          <div id="toast" style="display:none">
<img src="img/refresh.png"></img> 
</div>
          <div class="row">
            <div class="col-xs-12">
            <!-- info form begin -->
            <div class="box">
            <div class="box-body">
              <form id="accountInfoForm" class="form-horizontal" method="POST" th:action="@{/register}" th:object="${newAccount}">
              <div id="mainInfo">
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-2 control-label">Email*</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" th:field="*{email}" required="required"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputNewPassword" class="col-sm-2 control-label">Password*</label>
                  <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputNewPassword" name="pass" placeholder="Password" th:field="*{pass}" pattern=".{8,}" required="required"/>
                  </div>
                  <label class="control-label">(Tối thiểu 8 ký tự)</label>
                </div>
                <div class="form-group">
                  <label for="inputRetypePassword" class="col-sm-2 control-label">Re-type Password*</label>
                  <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputRetypePassword" placeholder="Password" required="required"/>
                  </div>
                  <label id="passwordMatchLabel" class="control-label has-error hidden"><i class="fa fa-check"></i> Ok</label>
                  <label id="passwordNotMatchLabel" class="control-label has-error hidden"><i class="fa fa-times-circle-o"></i> Mật khẩu không trùng khớp</label>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Vai trò</label>
                  <input type="hidden" class="form-control" id="inputRole" th:name="mcpsRole.id" th:value="2"/>
                  <div class="dropdown col-sm-4">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Admin
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation" th:each="role : ${roles}"><a role="menuitem" tabindex="-1" th:name="${role.id}" th:text="${role.roleName}">Action</a></li>
                      <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1">Admin</a></li>
                      <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1">Partner</a></li>
                      <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1">Reviewer</a></li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDisplayName" class="col-sm-2 control-label">Display Name*</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputDisplayName" placeholder="Display Name" th:field="*{displayName}" required="required"/>
                  </div>
                </div>
                </div>

				<!-- detail infor -->
				<div id="detailInfoDiv">
				<div id="partnerInfo" th:object="${newAccount}">
                <div class="region">
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Tên doanh nghiệp*</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputName" placeholder="Nguyễn Văn A" th:field="*{mcpsPartneraccount.partnerName}" required="required"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputBirthDay" class="col-sm-2 control-label">Địa chỉ*</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Số 8 Hoàng Văn Thụ, Phú Nhuận, Hồ Chí Minh" th:field="*{mcpsPartneraccount.address}"  required="required"/>
                      </div>
                    </div>

                    <!-- date picker-->
                    <div class="form-group">
                      <label for="inputFoundingDay" class="col-sm-2 control-label">Ngày thành lập</label>
                      <div class="col-sm-4">
                      <div class='input-group date datepicker' id='datetimepickerFoundingDay'>
                          <input type='text' id="inputFoundingDay" class="form-control mydatetime" th:field="*{mcpsPartneraccount.foundingDate}" readonly="readonly"/>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                          </span>
                        </div>
                      </div>
                      <label id="birthdayNotReal" class="control-label has-error hidden"><i class="fa fa-times-circle-o"></i> Ngày thành lập không hợp lệ</label>
                    </div>

                    <div class="form-group">
                      <label for="inputTel" class="col-sm-2 control-label">Số điện thoại*</label>
                      <div class="col-sm-4">
                        <input type="tel" class="form-control" id="inputTel" placeholder="0906924379" th:field="*{mcpsPartneraccount.tel}" required="required"/>
                      </div>
                    </div>

                  <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">Website</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="inputAddress" placeholder="Ktx DHQG, Linh Trung, Thu Duc" th:field="*{mcpsPartneraccount.website}"/>
                    </div>
                  </div>
                </div>
                </div>
				</div>

                <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-2">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Tạo</button>
                  </div>
                </div>
              </form>
              
                <!-- partner info begin -->
                <div id="partnerInfo" class="hidden" th:object="${newAccount}">
                <div class="region">
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Tên doanh nghiệp*</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputName" placeholder="Nguyễn Văn A" th:field="*{mcpsPartneraccount.partnerName}" required="required"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputBirthDay" class="col-sm-2 control-label">Địa chỉ*</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Số 8 Hoàng Văn Thụ, Phú Nhuận, Hồ Chí Minh" th:field="*{mcpsPartneraccount.address}"  required="required"/>
                      </div>
                    </div>

                    <!-- date picker-->
                    <div class="form-group">
                      <label for="inputFoundingDay" class="col-sm-2 control-label">Ngày thành lập</label>
                      <div class="col-sm-4">
                      <div class='input-group date datepicker' id='datetimepickerFoundingDay'>
                          <input type='text' id="inputFoundingDay" class="form-control mydatetime" th:field="*{mcpsPartneraccount.foundingDate}" readonly="readonly"/>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                          </span>
                        </div>
                      </div>
                      <label id="birthdayNotReal" class="control-label has-error hidden"><i class="fa fa-times-circle-o"></i> Ngày thành lập không hợp lệ</label>
                    </div>

                    <div class="form-group">
                      <label for="inputTel" class="col-sm-2 control-label">Số điện thoại*</label>
                      <div class="col-sm-4">
                        <input type="tel" class="form-control" id="inputTel" placeholder="0906924379" th:field="*{mcpsPartneraccount.tel}" required="required"/>
                      </div>
                    </div>

                  <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">Website</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="inputAddress" placeholder="Ktx DHQG, Linh Trung, Thu Duc" th:field="*{mcpsPartneraccount.website}"/>
                    </div>
                  </div>
                </div>
                </div>
                <!-- partner infor close -->

                <!-- reviewer info begin -->
                <div id="reviewerInfo" class="hidden" th:object="${newAccount}">
                <div class="region">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Họ*</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="inputName" placeholder="Nguyễn Văn A" th:field="*{mcpsRevieweraccount.lastName}" required="required"/>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Tên*</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="inputName" placeholder="Nguyễn Văn A" th:field="*{mcpsRevieweraccount.firstName}" required="required"/>
                    </div>
                  </div>

                  <!-- date picker-->
                  <div class="form-group">
                    <label for="inputBirthDay" class="col-sm-2 control-label">Ngày sinh*</label>
                    <div class="col-sm-4">
                      <div class='input-group date datepicker' id="datetimepickerBirthday">
                        <input type='text' class="form-control mydatetime" id='birthdayDatetimepicker' th:field="*{mcpsRevieweraccount.birthday}" required="required" readonly="readonly"/>
                        <span class="input-group-addon">
                          <span class="fa fa-calendar">
                          </span>
                        </span>
                      </div>
                    </div>
                    <label id="birthdayNotReal" class="control-label has-error hidden"><i class="fa fa-times-circle-o"></i> Ngày sinh không hợp lệ</label>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Giới tính*</label>
                    <input type="hidden" class="form-control" id="inputGender" value="1" th:name="mcpsRevieweraccount.mcpsGender.id"/>
                    <div class="dropdown col-sm-4">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Nam
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" th:each="gender : ${genders}"><a role="menuitem" tabindex="-1" th:name="${gender.id}" th:text="${gender.genderName}">Action</a></li>
                        <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1">Nữ</a></li>
                        <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1">Khác</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Nghề nghiệp*</label>
                    <input type="hidden" class="form-control" id="inputOccupation" value="1" th:name="mcpsRevieweraccount.mcpsOccupation.id"/>
                    <div class="dropdown col-sm-4">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Nam
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" th:each="occupation : ${occupations}"><a role="menuitem" tabindex="-1" th:name="${occupation.id}" th:text="${occupation.occupationName}">Action</a></li>
                        <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1">Giáo viên</a></li>
                        <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1">Học sinh</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">Địa chỉ*</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="inputAddress" placeholder="Ktx DHQG, Linh Trung, Thu Duc" th:field="*{mcpsRevieweraccount.address}" required="required"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTel" class="col-sm-2 control-label">Số điện thoại</label>
                    <div class="col-sm-4">
                      <input type="tel" class="form-control" id="inputTel" placeholder="0906924379" th:field="*{mcpsRevieweraccount.tel}" required="required"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTel" class="col-sm-2 control-label">Mối quan tâm</label>
                    <div class="col-sm-4">
                      <select id="interestSelect" class="form-control multiselect" th:name="mcpsRevieweraccount.mcpsInterests" multiple="multiple" >
        				<option th:each="interest : ${interests}"
                				th:value="${{interest.id}}" 
                				th:text="${interest.interestName}">                    
        				</option>
					  </select>
                    </div>
                  </div>
                </div>
                </div>
                <!-- reviewer infor close -->
                
              </div>
              </div>
              <!-- Search form end -->
            </div>
          </div>
          <!-- Your Page Content Here -->
        </section><!-- /.content -->
        <link th:href="@{/resources/dist/css/AdminLTE.min.css}" href="/resources/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" th:href="@{/resources/plugins/datepicker/datepicker3.css}" href="/resources/plugins/datepicker/datepicker3.css"/>
        <link th:href="@{/resources/plugins/multiselect/bootstrap-multiselect.css}" href="/resources/plugins/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css"/>
        <link type="text/css" rel="stylesheet" th:href="@{/resources/css/admin/toast.css}" href="/resources/css/admin/toast.css"/>
        <link type="text/css" rel="stylesheet" th:href="@{/resources/css/site/register.css}" href="/resources/css/site/register.css"/>
                
        <script th:src="@{/resources/plugins/multiselect/bootstrap-multiselect.js}" src="/resources/plugins/multiselect/bootstrap-multiselect.js" type="text/javascript"></script>
        <script type="text/javascript" th:src="@{/resources/plugins/datepicker/moment.js}" src="/resources/plugins/datepicker/moment.js"></script>
        <script type="text/javascript" th:src="@{/resources/plugins/datepicker/bootstrap-datepicker.js}" src="/resources/plugins/datepicker/bootstrap-datepicker.js"></script>
        <script th:src="@{/resources/scripts/admin/util.js}" src="/resources/scripts/admin/util.js" type="text/javascript"></script>
        <script type="text/javascript" th:src="@{/resources/scripts/site/register.js}" src="/resources/scripts/register.js"></script>
        </div>
</body>

</html>
