<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">1234</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mcps</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping class="com.dd.mcps.entities.McpsAccount"/>
  <mapping class="com.dd.mcps.entities.McpsAnswer"/>
  <mapping class="com.dd.mcps.entities.McpsCampaign"/>
  <mapping class="com.dd.mcps.entities.McpsCampaignAccount"/>
  <mapping class="com.dd.mcps.entities.McpsCampaignAccountId"/>
  <mapping class="com.dd.mcps.entities.McpsInterest"/>
  <mapping class="com.dd.mcps.entities.McpsOccupation"/>
  <mapping class="com.dd.mcps.entities.McpsOptionId"/>
  <mapping class="com.dd.mcps.entities.McpsPartneraccount"/>
  <mapping class="com.dd.mcps.entities.McpsQuestiontype"/>
  <mapping class="com.dd.mcps.entities.McpsReview"/>
  <mapping class="com.dd.mcps.entities.McpsRevieweraccount"/>
  <mapping class="com.dd.mcps.entities.McpsRevieweraccountSurvey"/>
  <mapping class="com.dd.mcps.entities.McpsSurvey"/>
  <mapping class="com.dd.mcps.entities.McpsSurveyquestion"/>
  <mapping class="com.dd.mcps.entities.McpsRole"/>
  <mapping class="com.dd.mcps.entities.McpsGender"/>
  <mapping class="com.dd.mcps.entities.McpsOption"/>
 </session-factory>
</hibernate-configuration>
