<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="accountStorage" class="com.dd.mcps.storage.AccountStorage"></bean>
	
	<bean id="manageAccountService" class="com.dd.mcps.services.ManageAccountService">
		<property name="accountStorage" ref="accountStorage"></property>
	</bean>
 
 	<bean id="loginService" class="com.dd.mcps.general_user_funcs.services.LoginService">
		<property name="accountStorage" ref="accountStorage"></property>
	</bean>
 
 
</beans>