<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Insert title here</title>
</head>
<body>
<div th:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Quản lý chiến dịch
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active">Quản lý chiến dịch</li>
          </ol>
        </section>
        
        <!-- Main content -->
  <section class="content">
  <div id="toast" style="display:none">
<img src="img/refresh.png"></img> 
</div>
    <div class="row">
      <div class="col-xs-12">
        <!-- Search form begin -->
        <div class="box">
          <div class="box-body">
            <form class="form-horizontal" id="campaignSearchForm" th:action="@{/admin/campaign}">
              <div class="form-group">
                <label for="inputID" class="col-sm-2 control-label">Mã chiến dịch</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputID" name="campaignID" placeholder="ID"/>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Tên chiến dịch</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputEmail" name="campaignName" placeholder="Tên chiến dịch"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Danh mục</label>
                <input id="inputCategory" type="hidden" name="category" value="0"/>
                <div class="dropdown col-sm-4">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  	<li role="presentation"><a role="menuitem" tabindex="-1" name="0">All</a></li>
                    <li role="presentation" th:each="category : ${categories}"><a role="menuitem" tabindex="-1" th:name="${category.id}" th:text="${category.interestName}">Action</a></li>
                    <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1" >Another action</a></li>
                    <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1" >Something else here</a></li>
                    <li role="presentation" th:remove="all"><a role="menuitem" tabindex="-1" >Separated link</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Người tạo</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputEmail" name="createrName" placeholder="Nguyen Van A"/>
                </div>
              </div>
              <!-- Ngày bắt đầu publish -->
              <!-- date picker-->
                        <div class="form-group">
                          <label for="inputInitDate" class="col-sm-2 control-label" style="text-align:right; margin-left:0px;">Ngày tạo</label>
                          <div class="col-sm-4">
                            <div class='input-group date datepicker' id='datetimepickerPublishDay'>
                              <input id="inputInitDate" type='text' class="form-control mydatetime" name="initDate"/>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar">
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2">
                  <button id="btnSearch" type="submit" class="btn btn-default"><i class="fa fa-search"></i> Tìm kiếm</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Search form end -->
        <!-- List Account begin -->
        <div id="listAccountDiv">
        <div class="box" th:fragment="listCampaign">
          <div class="box-body">
          	<div><a href="campaign/create">Thêm chiến dịch</a></div>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Campaign ID</th>
                  <th>Campaign Name</th>
                  <th>Category</th>
                  <th>Partner Name</th>
                  <th>Initial Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="campaign : ${campaigns}">
                  <td class="id-campaign" th:text="${campaign.id}"></td>
                  <td th:text="${campaign.campaignName}"></td>
                  <td th:text="${campaign.mcpsInterests.toArray()[0].interestName}"></td>
                  <td th:text="${campaign.mcpsAccount.mcpsPartneraccount}?${campaign.mcpsAccount.mcpsPartneraccount.partnerName}:'Admin'"></td>
                  <td th:text="*{#dates.format(campaign.initiateDate,'dd/MM/yyyy')}"></td>
                  <td><a class="edit-anchor" th:href="@{/admin/campaign/edit(id=${campaign.id})}" >Edit</a></td>
                  <td><a class="delete-anchor">Delete</a></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Campaign ID</th>
                  <th>Campaign Name</th>
                  <th>Category</th>
                  <th>Partner Name</th>
                  <th>Initial Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
        </div>
        <!-- List Account end -->
      </div>
    </div>
    <!-- Your Page Content Here -->
  </section><!-- /.content -->
  <script th:src="@{/resources/scripts/admin/admin-campaign-management.js}" src="/resources/scripts/admin/admin-campaign-management.js" type="text/javascript"></script>
  </div>
</body>
</html>